.heart {
    border: none;
    background-color: #ffffff;
    position: absolute;
    width: 100px;
    height: 90px;
    left: 50%;
    margin-top: -45px;
    margin-left: -50px;
    transform: translate(-15px, 11px) scale(0.3);
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #f88dc8;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}




.heart1 {
    border: none;
    background-color: #ffffff;
    animation: pounding .5s linear infinite alternate;
    position: absolute;
    width: 100px;
    height: 90px;
    left: 50%;
    margin-top: -45px;
    margin-left: -50px;
}

.heart1:before,
.heart1:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #f88dc8;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart1:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes pounding {
    0% {
        transform: translate(-15px, 11px) scale(0.4);
    }

    100% {
        transform: translate(-15px, 11px) scale(0.3);
    }
}